.row {
    width: 100%;
    max-width: 1280px;
    min-width: 720px;
    margin: auto;
}

.content .row {
    overflow: hidden;
}

.left-column {
    width: 14%;
    float: left;
    text-align: center;
}

.right-column {
    width: 14%;
    float: right;
    text-align: center;
}

.middle-column {
    width: auto;
}
