/* 确定整体布局 */
/* 定义了内容行的宽度范围 */
/* 定义了背景色 */
html {
    background-color: white;
}

.row {
    width: 100%;
    max-width: 1920px;
    min-width: 720px;
    margin: auto;
}

.content .row {
    overflow: hidden;
}

.left-column {
    width: 20%;
    float: left;
    text-align: center;
}

.right-column {
    width: 20%;
    float: right;
    text-align: center;
}

.middle-column {
    max-width: 60%;
}