html {
    background-color: rgb(22, 22, 22);
}

.header,
.navigator,
.left-column,
.right-column {
    display: none;
}

.content {
    margin-top: 200px;
    height: 100%;
    min-height: 800px;
}

.footer .middle,
#logo {
    text-align: center;
}

#search {
    text-align: center;
    margin-top: 20px;
}

#search input[type=text] {
    width: 35%;
    height: 25px;
}

#search input[type="submit"] {
    height: 31px;
    padding: 0px;
    border: 0px;
    width: 31px;
}


.footer p {
    color: salmon;
}