<!--基础框架-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../statics/css/base.css" />
    <title>基础框架</title>
  </head>

  <body>
    <div class="container header">
      <div class="row">
        <div class="col middle">
          <p>This is header</p>
        </div>
      </div>
    </div>
    <div class="container navigator">
      <div class="row">
        <div class="col middle">
          <p>This is navigator</p>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col left-column">
          <p>This is left panel</p>
        </div>
        <div class="col right-column">
          <p>This is right panel</p>
        </div>
        <div class="col middle-column">
          <p>This is middle panel</p>
        </div>
      </div>
    </div>
    <div class="container footer">
      <div class="col middle">
        <p>This is footer</p>
      </div>
    </div>
  </body>
</html>
