<!--检索页-->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/base.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/index.css'%}" />
    <title>kevenano</title>
  </head>

  <body>
    <div class="container header">
      <div class="row">
        <div class="col middle">
          <p>This is header</p>
        </div>
      </div>
    </div>
    <div class="container navigator">
      <div class="row">
        <div class="col middle">
          <p>This is navigator</p>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col left-column">
          <p>This is left panel</p>
        </div>
        <div class="col right-column">
          <p>This is right panel</p>
        </div>
        <div class="col middle-column">
          <!-- <p>tags: {{tags}}</p><br>
          <p>result: {{result}}</p> -->
          <div class="searchBox">
            <form action="/search/" method="POST">
              <!-- action里面要以反斜杠"/"结尾!!!!!!! -->
              {% csrf_token %}
              <div id="tagsBox"></div>
              <div id="inputBox">
                <input type="text" name="tags_input" />
                <input type="submit" value="Go!" />
              </div>
              <div id="advanBox">
                ID Range: <input type="number" name="ID_start" /> -
                <input type="number" name="ID_end" /><br />
                Rating:
                <input type="checkbox" name="rating_s" value="safe" />safe
                <input
                  type="checkbox"
                  name="rating_q"
                  value="question"
                />question
                <input
                  type="checkbox"
                  name="rating_e"
                  value="explicit"
                />explicit
                <br />
                Order: <select name="order">
                  <option value="id" selected>ID</option>
                  <option value="score">score</option>
                </select>
              </div>
            </form>
          </div>
          <div class="preshowBox">
            {{ preShow }}
          </div>
        </div>
      </div>
    </div>
    <div class="container footer">
      <div class="col middle">
        <p>This is footer</p>
      </div>
    </div>
  </body>
</html>
