<!--欢迎页-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../statics/css/base.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/welcome.css">
    <title>welcome!</title>
  </head>

  <body>
    <div class="container header">
      <div class="row">
        <div class="col middle">
          <p>This is header</p>
        </div>
      </div>
    </div>
    <div class="container navigator">
      <div class="row">
        <div class="col middle">
          <p>This is navigator</p>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col left-column">
          <p>This is left panel</p>
        </div>
        <div class="col right-column">
          <p>This is right panel</p>
        </div>
        <div class="col middle-column">
          <div id="logo">
              <img src="../statics/images/konachan_logo.png" alt="logo">
          </div>
          <div id="search">
              <form>
                  <input type="text" name="tags">
                  <input type="submit" value="Go!">
              </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer">
      <div class="col middle">
          <p>This is footer</p>
      </div>
    </div>
  </body>
</html>
